#leftpart{
background-color: rgb(241, 238, 238); 
width: 50%; 
height: 550px; 
float:left;

}
#rightpart{
    background-color: white;
     width:50%; 
     height: 550px; 
     float:left;
    }
#button{
    background: dodgerblue;
    width: 80%;
    height: 8%;
    border-radius: 5px;
    font-weight: 500;
    
}
#form{
    border: 1px solid;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    padding: 0px 0px 5px 15px;
    border-width: 60%;
    box-sizing: border-box;
    height: 500px;
    margin-right: 50%;
    
    
    
}
#image{
    width: 900px;
    border: 1px solid black;
    height: 500px;
    margin-left: 50%;
    border-bottom-right-radius: 20px;

}
#icons{
    padding: 0 100px;
    flex-direction: row;
}
#p{
    border-bottom: 1px solid black;
    text-align: center;
}

